<?xml version='1.0' encoding='utf-8'?>
<plugin id="xyh" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MyPlugin</name>
    <js-module name="MyPlugin" src="www/MyPlugin.js">
        <clobbers target="MyPlugin"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MyPlugin">
                <param name="android-package" value="xyh.MyPlugin"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/MyPlugin.java" target-dir="src/xyh"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MyPlugin">
                <param name="ios-package" value="MyPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/ios/MyPlugin.m"/>
    </platform>

</plugin>